html, body{
    margin: 0px;
    padding: 0px;
}

/* Navigation Classes */
.nav-bar{
    position: fixed;
    width: 100%;
    height: auto;
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    background-color: steelblue;
    color: black;
    overflow: hidden;
}
.nav-bar:hover{
    box-shadow: 0px 0px 50px grey;
}
.nav-logo{
    height: 40px;
    width: 80px;
}
.nav-links{
    display: inline-table;
}

/* Content Classes & Ids */
.content{
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    height: 400px;
    border: 1px solid steelblue;
    background-color: lightblue;
}
.space{
    display: none;
    position: fixed;
}
.parallax{
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.map {
    position: relative;
    height: 300px;

}
.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: inherit !important;
}

#home-img{
    background-image: url("../assets/cafe2.jpg");
}
#menu-img{
    background-image: url("../assets/food.jpg");
}