/* Global Element CSS */
html, body{
    margin: 0em;
}
*{
    font-family: Helvetica, sans-serif;
    color: #015486;
}
h3{
    text-align: center;
}
article{
    font-size: 1em;
    color: black;
    text-align: center;
    /*padding: 5em;*/
    border: 1em solid white;
    border-radius: 1em;
    background-color: white;
}
a{
    color: #015486;
    text-decoration: none;
}
a:visited{
    color: #015486;
    text-decoration: none;
}
a:hover{
    font-weight: bold;
}

/* Navigation Bar Classes */
.nav-bar{
    font-size: 1.8em;
    color: black;
    background-color: white;
    border-bottom: .09em solid #015486;
    overflow: hidden;
    position: fixed;
    height: auto;
    width: 100%;
}
.nav-bar:hover{
    box-shadow: inset 0px -20px 20px -20px #015486;
}
.nav-bar-logo{
    float: left;
    margin-left: .75em;
    margin-top: .25em;
    height: 40px;
    width: auto;
}
.nav-bar-links{
    padding: .4em;
    margin-right: .5em;
    float: right;
    display: inline-block;
}
.nav-link{
    padding-right: .5em;
}

/* Main Classes & Ids */
.content{
    border-top: 1em solid white;
    border-bottom: 1em solid white;
    background-color: white;
    color: #015486;
}
.parallax{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35em;
    width: auto;
}
.menu-item{
    text-align: center;
    background-color: #f2f2f2;
    border: 1em solid #f2f2f2;
    border-radius: 10px;
    position: relative;
    min-height: 1px;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 15px;
    display: inline-block;
}
#home-img{
    background-image: url("../images/cafe.png");
}
#home{
    height: 12em;
}
#menu-img{
    background-image: url("../images/food.png");
}
#menu{
    height: 20em;
}
#about-img{
    background-image: url("../images/outside.png");
}
#about{
    height: 16em;
}
.map {
    position: relative;
    height: 20em;
    width: auto;
}
.map iframe {
    pointer-events: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100% !important;
    height: inherit !important;
}

/* Footer Class */
.footer{
    padding: .6em;
    font-size: 1em;
    text-align: center;
    color:#015486;
    background-color: white;
    display: inline-block;
    height: auto;
    width: 100%;
}