/* Global Element CSS */
html, body{
    margin: 0em;
    font-family: Helvetica, sans-serif;
}
h3{
    color: #005178;
    text-align: center;
}
article{
    font-size: 1em;
    color: black;
    text-align: center;
    margin: 0em 5em 0em 5em;
    padding: 6em;
    border: .05em solid #005178;
    border-radius: 1em;
    background-color: white;
}
a{
    color: #005178;
    text-decoration: none;
}
a:visited{
    color: #005178;
    text-decoration: none;
}
a:hover{
    font-weight: bold;
}

/* Navigation Bar Classes */
.nav-bar{
    font-size: 1.8em;
    color: black;
    background-color: white;
    border-bottom: .09em solid #005178;
    overflow: hidden;
    position: fixed;
    height: auto;
    width: 100%;
}
.nav-bar:hover{
    box-shadow: inset 0px -20px 20px -20px #005178;
}
.nav-bar-logo{
    float: left;
    margin-left: .75em;
    height: 40px;
    width: auto;
}
.nav-bar-links{
    padding: .4em;
    margin-right: .5em;
    float: right;
    display: inline-block
}
.nav-link{
    padding-right: .5em;
}

/* Main Classes & Ids */
.content{
    border-top: .2em solid #005178;
    border-bottom: .2em solid #005178;
    background-color: lightblue;
    height: 20em;
}
.space{
    display: none;
}
.parallax{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35em;
    width: auto;
}
.map {
    position: relative;
    height: 20em;
    width: auto;
}
.map iframe {
    pointer-events: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100% !important;
    height: inherit !important;
}
#home-img{
    background-image: url("../images/cafe.jpg");
}
#menu-img{
    background-image: url("../images/food.jpg");
}
#about-img{
    background-image: url("../images/outside.jpg");
}

/* Footer Class */
.footer{
    padding: .75em;
    font-size: 1em;
    text-align: center;
    color:#005178;
    background-color: white;
    border-top: .2em solid #005178;
    display: inline-block;
    height: auto;
    width: 100%;
}